/* Reset for all elements */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin: 0;
  padding: 0;
}
/* Styling for nav */
.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

/* Removes underlines from links */
a {
  text-decoration: none;
  color: #666;
}

/* Removes color from visited links */
a:visited {
  color: #666;
}

/* Adds underline to links on hover */
a:hover {
  text-decoration: underline;
}

/* Styling for nav */
.nav li {
  margin: 1rem;
  padding: 0;
}

/* Resize notification icon */
.bell {
  height: 20px;
}

/* Resize user icon and round it out */
.user {
  margin: -6px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

/* Using Flexbox to style nav and footer items */
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

/* Ordering navbar items */
ul li.top:first-child {
  order: 1;
}

ul li.top:nth-child(2) {
  order: 2;
}

ul li.top:nth-child(3) {
  order: 4;
}

ul li.top:nth-child(4) {
  order: 3;
  margin-left: auto;
}

ul li.top:nth-child(5) {
  order: 5;
}

ul li.top:nth-child(6) {
  order: 6;
}

ul li.top:nth-child(7) {
  order: 7;
}

/* Styling for image, search bar, and buttons in one container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for image div */
.img {
  padding-top: 105px;
  margin-top: 89px;
}

/* Styling for image itself */
.img img {
  display: block;
  width: 272px;
  height: 92px;
}

/* Styling for div containing input search bar */
.search {
  padding-top: 20px;
}

/* Styling for input search bar and centered with Google logo */
input {
  position: relative;
  font-size: 16px;
  padding-left: 10px;
  width: 570px;
  height: 45px;
  left: 25px;
  box-shadow: 0px 2px 6px 0px rgb(204, 204, 204);
  border: none;
}

/* Styling mic icon into input field */
#img {
  height: 30px;
  position: relative;
  top: 10px;
  right: 25px;
}

/* Styling for div containing both buttons */
.buttons {
  padding-top: 28px;
  text-align: center;
  width: 571px;
  height: 58px;
}

/* Styling for individual buttons */
button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #757575;
  height: 36px;
  line-height: 5px;
  font-size: 13px;
  border: none;
}

/* Styling for footer */
.footer {
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Styling for footer items */
.footer li {
  color: #666;
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  display: inline-block;
}

/* Ordering footer items */
ul li.bottom:first-child {
  order: 1;
}

ul li.bottom:nth-child(2) {
  order: 2;
}

ul li.bottom:nth-child(3) {
  order: 3;
  margin-left: auto;
}

ul li.bottom:nth-child(4) {
  order: 4;
}

ul li.bottom:nth-child(5) {
  order: 5;
}
