* {
  margin: 0;
  padding: 0;
}

.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.nav li {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  display: inline-block;
}

.nav-right {
  float: right;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  display: block;
  padding-top: 109px;
  width: 272px;
  height: 92px;
  padding-bottom: 1rem;
}

.container input {
  font-size: 2rem;
  width: 15em;
  border: 0.2px solid #999;
}

.container .btn {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.footer {
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer li {
  color: #666;
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  display: inline-block;
}

.footer-right {
  float: right;
}
